body{
    overflow: scroll;
}

#main{
    display: flex;
    justify-content: space-around;
}
#red{
    border-radius: 20px;

    text-align: center;
    font-weight: bold;

    box-shadow: 2px 2px 10px lightcoral;
    
    padding:50px 50px 50px 50px;
    
    background-color:lightcoral;
}
#blue{
    padding:50px 50px 50px 50px;
    background-color:blueviolet;
}
#green{
    padding:50px 50px 50px 50px;
    background-color:cadetblue
}